# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual Environment
venv/
.venv/
env/

# Environment Variables
.env

# Logs
logs/
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Terraform
.terraform/
*.tfstate
*.tfstate.*

# Kubernetes
*.kubeconfig

# Docker
*.tar

# Coverage
.coverage
htmlcov/

# Node
node_modules/

# Misc
*.swp
